.contact-info {
    padding: 85px 60px 60px 40px;
    background-image: -webkit-linear-gradient(90deg, #141232 0, #1d1a4a 100%);
    color: var(--color--white);
}

.btn-contact-info {
    display: inline-block;
    border-radius: 50px;
    padding: 15px 25px;
}

.form-contact {
    border-radius: 50px;
    height: 54px;
    padding-left: 20px;
}