.alert-wrapper {
    position: absolute;
    top: 120px;
    left: 10px;
}

.alert-block {
    max-width: 450px;
    padding-right: 50px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 999;

    strong {
        padding-right: 20px;
    }
}

.flashmessage-close {
    position: absolute;
    top: 14px;
    right: 10px;
    font-size: 24px;
    border: 1px solid transparent;
    background-color: transparent;
}

.flashmessage-fade-in {
    animation: fade-in 0.5s ease;
}

.flashmessage-fade-out {
    animation: fade-out 0.5s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}