.section-newhero {
    height: calc(100vh - 106px);
    margin-top: 106px;
    background-image: url('https://globaldesignstop.com/images/webp/home-banner.webp');
    background-repeat: no-repeat;
    width: 100%;
  }
  
  @media (max-width: 576px) {
    .section-newhero {
      height: calc(100vh - 92px);
      margin-top: 32px;
    }
  }
  
  .li-item-hero {
    list-style-type: none;
    /* Удаляем стандартный маркер списка */
    position: relative;
    /* Устанавливаем позицию для создания треугольника */
    padding-left: 20px;
    /* Добавляем отступ слева для элементов списка */
  }
  
  .li-item-hero:before {
    content: "";
    /* Добавляем содержимое пустого псевдоэлемента */
    position: absolute;
    /* Устанавливаем позицию для треугольника */
    top: 50%;
    /* Располагаем треугольник по вертикали посередине */
    left: 0;
    /* Располагаем треугольник в начале элемента списка */
    transform: translateY(-0%) rotate(130deg);
    /* Поворачиваем треугольник на 0 градусов */
    border-top: 6px solid yellow;
    /* Задаем цвет и толщину границы треугольника */
    border-right: 6px solid transparent;
    /* Скрываем правую границу треугольника */
  }