.pkg-details {
    background-color: #fff3e1;
}


.btn-price-buy {
    display: inline-block;
    margin-top: 10px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 50px;
    padding: 7px 35px;
    color: var(--color--white);
    background-color: #e92747;
}