.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid #45aed6;
    border-radius: 100px;
    position: relative;
}

.icon-circle span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #45aed6;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 20px;
    top: -12px;
    color: #64686d;
}


.icon-circle i {
    line-height: 1;
}