:root {
    --color--primary: #000000;
    --color--secondary: #fae5e5;
    --color--pink: #FAF4F4;
    --color--pink_light: rgba(250, 244, 244, 0.5);
    --color--white: #FFFFFF;
    --color--gold: #B88E2F;
    --color--yellow: #FBEBB5;
    --color--yellow_light: #FFF9E5;
    --color--gray_light: #9F9F9F;
    --color--gray_dark: #D9D9D9;
    --color--blue:#45aed6;
    --color--red:#e92747;
  }