$primary: #4e54c8;
$secondary: #b4d4ff;
$body-bg: #eef5ff;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

footer {
    margin-top: 44px;
}

a {
    text-decoration: none;
}

.hero-section {
    min-height: calc(100vh - 200px);
}

.hero-content {
    max-width: 750px;
}

.service {
    &-card {
        border-radius: 15px;
        height: 100%;
    }
}

.stack {
    &-item {
        max-width: 400px;
    }
}

.contact {
    &-content {
        max-width: 700px;
    }
}

.hero {
    &-content {
        max-width: 700px;
    }
}

.hero-section-margin-top {
    margin-top: 150px;
}

.contact-input {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid $primary;
    outline: none;
    transition: border-color 0.2s;
    padding-left: 0;
    padding-right: 0;

    &:focus {
        box-shadow: none;
    }
}

.contact-textarea {
    background: transparent;
    resize: none;
    border: 2px solid $primary;

    &:focus {
        border-color: $primary;
        box-shadow: none;
        outline: none !important;
    }

    &:focus-visible {
        border-color: $primary;
        outline: none !important;
    }
}

.portfolio-item {
    &:nth-child(even) {
        .portfolio-img {
            order: 2;
        }

        .portfolio-content {
            order: 1;

            .portfolio-content__container {
                margin-left: 0 !important;
            }
        }
    }
}

.home-title {
    font-size: 72px;
}

@media (max-width: 992px) {
    .portfolio-item {
        &:nth-child(even) {
            .portfolio-img {
                order: 1;
            }

            .portfolio-content {
                order: 2;
            }
        }
    }

    .home-title {
        font-size: 32px;
    }
}
